<!DOCTYPE HTML>
<html lang="es">
<html>
	<head>
		<title>Worzi</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/styles.css">
	</head>

<body>

<div class="Div1">
	<h1>Worzi</h1>
</div>
<ul>
  <li><a class="Activa" href="#Inicio">Inicio</a></li>
  <li><a href="#Tableros">Mis Tableros</a></li>
  <li><a href="#Config">Configuración</a></li>
  <li style="float:right"><a href="/perfil">Perfil</a></li>
  <li><a href="crearTarjeta">Crear tarjeta</a></li>
  <li><a href="crearTarjeta">Crear Lista</a></li>
</ul>

  


<div class="wrapper">

	<div class="contenido">
		
		<div class="iSesion">

	<h2>INICIAR SESION</h2>
	<form action="usuario/acceso" method="post">
	<p>Nombre de usuario</p>
	<p><input type= 'text' name= 'nombre'/></p>
	<p>Clave</p>
	<p><input type= 'text' name= 'clave'/></p>
	<p>Correo</p>
	<p><input type= 'text' name= 'correo'/></p>
	<p><input type='submit' value= 'Iniciar Sesión'/></p>
	</form>
	<a href="/"><button class="button botonVOLVER"> Volver </button></a>
   
</div>

	</div>

</div>




</body>

</html>