{{> cabecera}}
<div class="wrapper">

	<div class="contenido">
		
		<div class="iSesion">

	<h2>INICIAR SESION</h2>
	<form action="/usuarioAcceso" method="post">
	<p>Nombre de usuario</p>
	<p><input type= 'text' name= 'nombreUsuario'/></p>
	<p>Clave</p>
	<p><input type= 'text' name= 'contrasenya'/></p>
	<p>Correo</p>
	<p><input type= 'text' name= 'email'/></p>
	<p><input type='submit' value= 'Iniciar Sesión'/></p>
	</form>
	<a href="/"><button class="button botonVOLVER"> Volver </button></a>
   
</div>

	</div>

</div>




</body>

</html>